@using KhaoSat.Utils
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header border-0" style="height:60px">
                <div class="row" id="frmFilter">
                    <div class="col-4">
                        <div class="form-group">
                            <input id="txtName" type="text" class="form-control" placeholder="Tìm kiếm khảo sát">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <select id="drStatus" class="form-control">
                                <option value="@((int)StatusEnum.All)">@Extensions.GetEnumDescription(StatusEnum.All)</option>
                                <option value="@((int)StatusEnum.Active)">@Extensions.GetEnumDescription(StatusEnum.Active)</option>
                                <option value="@((int)StatusEnum.Unactive)">@Extensions.GetEnumDescription(StatusEnum.Unactive)</option>
                                <option value="@((int)StatusEnum.Removed)">@Extensions.GetEnumDescription(StatusEnum.Removed)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <button id="btnSearch" class="btn btn-primary">Tìm kiếm</button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            
                                    <button id="btnCreate" style="float:right" class="btn btn-success">Thêm mới</button>
                              

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div id="dtTable">
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<script>
    var frmFilter = $('#frmFilter');
    var urlDomain = "/khao-sat";
    var take = 10;
    var skip = 0;
    $(document).ready(function () {
        getData("", -1);
        searching();
        frmFilter.find('#btnCreate').on('click', function () {
            openCreate();
        });
    });
    function searching() {
        frmFilter.find("#btnSearch").on('click', function () {
            var name = frmFilter.find("#txtName").val();
            var status = frmFilter.find("#drStatus").val()
            getData(name, status);
        });
    }
    function getData(name, status) {
        showLoading()
        $.ajax({
            url: urlDomain + "/get-list?name=" + name + "&status=" + status,
            method: "GET",
            data: {
                title: frmFilter.find('#txtName').val(),
                take: take,
                skip: skip
            }
            , success: function (response) {
                $('#dtTable').html(response);
                hideLoading()
            }
        })@*.then(function () {
            if (@((int)ViewData[nameof(RolesEnum.Update)]) == 0) {
                $('#dtTable').find('.btn-update').css('display', 'none');
                $('#dtTable').find('.checkStatus').attr('disabled', 'disabled');
            }
            if (@((int)ViewData[nameof(RolesEnum.Delete)]) == 0) {
                $('#dtTable').find('.btn-delete').css('display', 'none');
            }

        });*@
    }

    function openCreate() {
        location.href = urlDomain + "/them-moi";
    }
</script>